<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SpecTester</title>
    @Styles.Render("~/Content/kendo-css")
    @Styles.Render("~/Content/dragula-css")
    @Styles.Render("~/Content/booklet-css")
    @Styles.Render("~/Content/pagedlist-css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/booklet")
</head>
<body>
    @Scripts.Render("~/bundles/dragula")
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SpecTester", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (this.User.IsInRole("Administrator"))
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Administration/Product">Products</a></li>
                                <li><a href="/Administration/Dish">Dishes</a></li>
                                <li><a href="/Administration/Training">Trainings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/Administration/Manage">Manage</a></li>
                            </ul>
                        </li>
                    </ul>
                }
                @if (this.User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Statistics <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">My trainings</a></li>
                                <li><a href="#">Top 10 Users</a></li>
                                <li><a href="#">Rankings</a></li>
                            </ul>
                        </li>
                        </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - SpecTester</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
