@using PagedList.Mvc
@model PagedList.IPagedList<SpecTester.Web.ViewModels.Home.TrainingViewModel>
@{
    ViewBag.Title = "Home Page";
}
<h1 class="text-center">Training</h1>
<div class="row">
    <img id="homePage" class="img-responsive img-rounded" src="~/Content/images/site/homepage.jpg" />
    <table class="table table-hover table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Dishes</th>
            <th>Participants</th>
            <th>Total Score</th>
            <th>Join</th>
        </tr>
        @foreach (var training in Model)
        {
            <tr>
                <td>@training.Id</td>
                <td>@training.Name</td>
                <td>
                    @foreach(var dish in training.Dishes)
                    {
                        <div>@dish.Name</div>
                    }
                </td>
                <td>@training.Users</td>
                <td>@training.Score</td>
                <td>@Html.ActionLink("Join","Join","SpecTraining", new { id = training.Id }, new {@class = "btn btn-primary"})</td>
            </tr>
        }
    </table>
</div>
<div class="text-center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
